@charset "UTF-8";
/* reset */
* {margin:0;padding:0;box-sizing:border-box}
body,button,input,select,textarea {color:#000;font-size:16px;line-height:1.5;font-weight:400}
h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight:normal}
img {max-width:100%;border:0 none;vertical-align:top}
a {color:inherit;text-decoration:none}
ul,ol,li {list-style:none}
button,input,select,textarea {border:0 none;background-color:transparent;font-family:inherit;outline:none}
button:hover {cursor:pointer}
textarea {resize:none}
label {user-select:none}
fieldset {border:0 none}
table {border-collapse:collapse;border-spacing:0}
th,td {font-family:inherit}
legend,caption,.blind {position:absolute;top:0;left:0;overflow:hidden;margin:-1px;width:1px;height:1px;clip:rect(0 0 0 0)}
/* design */
body {background-color:#ffffee;font-family:'Raleway','Malgun Gothic','맑은 고딕',sans-serif}
.table {display:table;table-layout:fixed;width:100%}
.table > .cell {display:table-cell;vertical-align:middle}
.flex {display:flex;justify-content:space-between;align-items:center}
.flex > * {flex:1}
.wrap {position:relative;height:100vh;padding:0 100px;background-repeat:no-repeat;background-size:cover;background-position:center}
.header {padding:30px 0;text-align:center}
.title {color:#6495ed;font-size:36px;font-weight:bold;user-select:none}
.ipt {padding:10px;border:1px solid #ccc;border-radius:5px;background-color:#fff}
.ipt::placeholder {color:#ccc}
.ipt--username {text-align:center}
.ipt--submit {background-color:#ccc;color:#fff;text-transform:uppercase;cursor:pointer;transition:all 0.3s ease}
.ipt--submit:hover {border-color:#aaa;background-color:#aaa}
.btn {padding:10px;border:1px solid #ccc;border-radius:5px;background-color:#ccc;color:#fff;text-transform:uppercase;transition:all 0.3s ease}
.btn--primary, .ipt--primary {border-color:#6495ed;background-color:#6495ed}
.btn--primary:hover, .ipt--primary:hover {border-color:#2668ba;background-color:#2668ba}
.ipt--location {width:100%}
.ipt--search {flex:none;margin-left:10px}
.dashboard {max-width:750px;margin:0 auto}
.dashboard__inner {margin-top:30px}
.dashboard__item {width:50%;margin:0 auto;border:1px solid #ccc;border-radius:5px;background-color:#6495ed;color:#fff;text-align:center;box-shadow:0px 0px 10px rgba(0,0,0,0.2);overflow:hidden}
.dashboard__item ~ .dashboard__item {margin-top:10px}
.item-info {display:flex;justify-content:space-between;align-items:center;padding:20px;text-align:right}
.item-info--sub {display:flex;flex-direction:row;justify-content:space-around;padding:20px;background-color:#fff;color:#6495ed}
.item-info p ~ p {margin-top:5px}
.item-info__icon {font-size:40px}
.item-info__temperature {font-size:21px;font-weight:bold}
/* media */
@media screen and (max-width:1024px) {
    .wrap {padding:0 25px}
    .title {font-size:28px}
    .dashboard__item {width:100%}
}